<!DOCTYPE html>
<html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="names = ['Matthias', 'Yenthe', 'Dieter']">
  {{ firstName + " " + lastName }}

  <p><input type="text" ng-model="filterword" /></p>

  <ul>
    <li ng-repeat="x in names | filter : filterword"> {{ x | myFilter }} </li>
  </ul>

  <matthias-test-directive ng-click="changeContent()"></matthias-test-directive>

  <form name="myForm">
    <input type="email" name="myMail" ng-model="text" />
    <span ng-show="myForm.myMail.$error.email">Geen geldig e-mailadres</span>
  </form>

  <ul>
    <li ng-repeat="x in data | filter: filterword">
      {{ x.Name }}
    </li>
  </ul>

  <select ng-model="selectedName" ng-options="x.Name for x in data"></select>

</div>

<script src="myApp.js"></script>
<script src="myCtrl.js"></script>



<!--<div ng-app="myApp2" ng-controller="myCtrl" ng-init="person={name:'Matthias',lastName:'Andriessen'}">
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{person.name + " " + person.lastName}}</h1>

  <p ng-bind="name"></p>

  <p>{{ 50 * 2}}</p>


</div>

<div ng-app="myApp2" matthias-directive></div>


<script>
/*var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope){
  $scope.name = "Matthias"
});

var app2 = angular.module("myApp2", []);
app2.directive("matthiasDirective", function() {
  return {
    template : "Ik ben in een directive intstructor gemaakt. Geen idee wat dit is..."
  };
});
*/
</script>-->

</body>
</html>